body {

    margin: auto;
    max-width: fit-content;
    font-family: Calibri, sans-serif;
    line-height: 95%;
    color: #1e1e1e;
    background-color: #f6f6f6;
  }

p, li {
    font-size: 20px;
    line-height: 100%;
}

h1 {
    font-size: 50px;
    line-height: 90%;
}

h2 {
    font-size: 36px;
    text-decoration: underline;
}

h3 {
    font-size: 26px;
    font-weight: bold;
    font-style: oblique;
}

h4 {
    font-size: 22px;
}

span {
    font-size: 22px;
    font-weight: bold;
}

.count {
    margin: 50%;
}
